<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taskz {% block title %}{% endblock %}</title>
    <link href="../static/stylesheets/style.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-bottom">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          href="
                {% if session['user'] %}
                /overview
        {% else %}
        /
        {% endif %}
        "
          >TASKz</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          {% if session["user"] %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/overview"
                >Overview</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendar">Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/day">Day</a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/logout">logout</a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/impressum">Impressum</a>
            </li>
          </ul>
          {% endif %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <button id="themebtn">Change theme</button>
            </li>
          </ul>
          <span class="navbar-text"> For your personal Taskz. </span>
        </div>
      </div>
    </nav>
    <header>
      {% if get_flashed_messages() %}
      <header>
        <div
          class="alert alert-danger alert-dismissible fade show mb-0 text-center"
          role="alert"
        >
          {% with msgs = get_flashed_messages() %}
          <ul class="list-no">
            {% for msg in msgs %}
            <li>{{ msg }}</li>
            {% endfor %}
          </ul>
          {% endwith %}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </header>
      {% endif %}
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer>
      <script src="../static/js/main.js"></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
      ></script>
    </footer>
  </body>
</html>
