{% extends "layout.html" %} {% block title %} - New Task {% endblock %} {% block
    main %}

    <!-- full site for new task -->

    <div class="container-fluid mt-3">
        <div class="container-lg bg-secondary bg-opacity-25 p-5 mb-5">
            <form action="/new" method="post">
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" placeholder="the title.">
              </div>
                  <div class="mb-3">
                    <label for="text" class="form-label">Description</label>
                    <textarea class="form-control" name="text" rows="9" placeholder="the taskz description."></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="text" class="form-label">Due</label>
                    <input type="date" class="form-control" name="date">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Create!</button>
                  </div>
            </form>
        </div>
      </div>

    {% endblock %}